<div class="container">
    <h2>ADMIN: {{user.first_name}}</h2>
    <h2 class="mt-5">Usuarios Registrados</h2>
    <div class="mt-5">
        <ul class="list-group">
            {{#each users}}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-6">
                        <h5><strong>Correo:</strong> {{this.email}}</h5>
                        {{#if this.first_name}}
                        <p><strong>Nombre:</strong> {{this.first_name}}</p>
                        {{/if}}
                        {{#if this.last_name}}
                        <p><strong>Apellido:</strong> {{this.last_name}}</p>
                        {{/if}}
                    </div>
                    <div class="col-md-6">
                        {{#if this.age}}
                        <p><strong>Edad:</strong> {{this.age}}</p>
                        {{/if}}
                        {{#unless this.password}}
                        <p><strong>Password:</strong> {{this.password}}</p>
                        {{/unless}}
                        {{#if this.role}}
                        <p><strong>Rol:</strong> {{this.role}}</p>
                        {{/if}}
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
