<h2>List Products</h2>

<div>
    {{#each products}}
    <div>
        <a href="/product/{{this._id}}">
            <b>{{this.name}}</b>
            <img src="{{this.photo}}" height="50">
            <i>{{this.type}}</i>
        </a>
        <a href="/product/delete/{{this._id}}">Delete</a>
    </div>
    {{/each}}
</div>